.cartForm .formHeader {
    padding: 10px 0;
    margin: 10px 0;
}

.cartForm .formParent {
    width: 280px;
    margin-right: 40px;
}

.cartForm .formParent.no-margin {
  margin-right: 0;
}

.cartForm .form-10 {
    width: 62.5px;
}