.accountFilter .select2-chosen {
    color: #F25A3A;
}

.accountFilter em {
    cursor: pointer;
}

.b-filterPeriod {
    position: relative;
}

.b-filterPeriod .filter-dates {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 10000;
    width: 485px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.b-filterPeriod .filter-dates .calendar {
    height: 200px;
    margin-bottom: 10px;
}

/* ORDER DETAIL */

.fancybox-wrap {
    margin-bottom: 60px;
}

.fancybox-wrap .contractItem header > h1 {
    margin-left: 0;
    padding-top: 0;
}

.fancybox-wrap .b-orderItem {
    padding-left: 0;
    padding-right: 0;
}

.contractStatus {
    top: 40px;
    right: 0;
}

/*BASKET*/
.cartItem {
    border-bottom: 1px solid #ebebeb;
    position: relative;
    background-color: #fff;
}

.cartItem table {
    width: 100%;
}

.cartItem table td {
    text-align: left;
    vertical-align: middle;
    padding: 5px;
}

.b-cartImage {
    width: 60px;
    height: 60px;
    position: relative;
}

.b-cartImage .picture {
    display: block;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.b-cartName {
    width: 265px;
    color: #6f6f6f;
    font-size: 1.3rem;
    padding: 10px 25px 10px 10px;
}

.cartName:hover {
    text-decoration: underline;
}

.cartSerial {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    color: #3d3d3d;
}

.catDiscount-cart {
    top: 0;
    right: 15px;
    margin-top: -5px;
}

.cartQnt {
    float: left;
}

.cartQnt {
    height: 32px;
    margin-top: 56px;
}

.cartSubtotal {
    width: 100px;
    text-align: right;
    float: right;
}

.cartSubtotal-payment {
    margin-top: 0;
    margin-right: 0;
}

.cartSum {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    color: #ed5c2f;
}

.b-emptyCart {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
}

.cartName {
    display: block;
    color: #6F6F6F;
    font-size: 1.3rem;
}

.order-buttons {
    overflow: hidden;
}

.order-buttons .next {
    float: right;
}

.order-buttons .prev {
    float: left;
}

/*END BASKET*/

.box-docs table {
    width: 100%;
    font-size: 13px;
    font-weight: 200;
}

.box-docs table td {
    padding: 7px 15px;
    border-bottom: 1px solid #E5E5E5;
}

/* END ORDER DETAIL */

.b-invoiceHeadline h1 b {
    color: #F25A3A;
}

.b-invoiceHeadline h1 a {
    color: #F25A3A;
    font-weight: normal;
    text-decoration: underline;
}

.invoice-items {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    margin: 15px 0;
}

.invoice-items th {
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}
.invoice-items th.price {
   text-align: center;
}
.invoice-items th.buy {
   padding-left: 20px;
}
.invoice-items td {
    padding: 10px 5px;
    border-bottom: 1px solid #EBEBEB;
}

.invoice-items td.price {
    color: #F25A3A;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}

.invoice-items td.qty {
    text-align: center;
}

.invoice-items td.name a:hover {
    text-decoration: underline;
}
.invoice-items .sku,
.invoice-items .text-error,
.invoice-items .files-download {
    font-size:11px;
}
.invoice-items .text-error {
   color:red;
   text-transform: uppercase;
}

.contract-button {
    position: absolute;
    right: 0;
    top: 8px;
}

.contract-button:hover {
    text-decoration: underline;
}

.pay_form{
	float: right;
	margin-right:45px;
}
.orderCanceled{
	color:#f25a3a;
	padding:5px 20px;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #e5e5e5;
}

.status-filter .select2-results {
    max-height: none !important;
}

.status-filter .select2-result-selectable.sep:before {
    content: " ";
    display: block;
    border-bottom: 1px dashed #9c9da0;
    margin: 4px 8px;
}

.order-total-products{
	padding:0 12px;
	color:#f25a3a;
	text-decoration:underline;
	font-size:12px;
}