.b-sidebarOrder .progress {
    background: #393b41;
    height: 15px;
    width: 135px;
    float: left;
    margin-top: 5px;
    overflow: hidden;
}

.b-sidebarOrder .progress .fill {
    background: #ed5c2f;
    height: 15px;
    width: 0;
    position: relative;
}

.b-sidebarOrder .progress .fill i {
    background: url(images/fill.png) no-repeat right center;
    display: block;
    width: 10px;
    height: 15px;
    position: absolute;
    right: -10px;
    top: 0;
}
.sidebarDetails-cur-discount{
	border-top:1px solid #606369;
	margin-left: -15px;
    padding-left: 15px;
	height:48px;
	line-height:48px;	
}
.more-info .sidebarDetails-cur-discount span{color:#f25a3a;display:inline;font-weight:bold;font-size:20px;padding-left:5px;}
.cur-orders-caption{min-height:33px;}
.b-sidebarOrder.first{margin-top:0;}
.sidebar-account section.sidebarDetails-orders{padding-bottom:0;}