.autocomplete-suggestions {
    border: 1px solid #EAEAEA;
    overflow: auto;
    border-radius: 0 0 15px 15px;
    padding-top: 15px;
    border-top: 0;
    margin-top: -15px;
}

.autocomplete-no-suggestion,
.autocomplete-suggestion {
    padding: 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    background: #fff;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #F25A3A;
}