.formSocial {
    border-top: 1px solid #ebebeb;
    margin-top: 30px;
}

.formSocial-span {
    display: block;
    margin-top: 30px;
    font-size: 1.5rem;
    color: #3d3d3d;
    text-align: center;

}

.formSocial-icons {
    display: block;
    width: 146px;
    margin: 14px auto;
}

.formSocial-ul {
}

.formSocial-li {
    float: left;
    margin-right: 10px;
}

.formSocial-li:last-child {
    margin: 0;
}

.formSocial-li span {
    display: none;
}

.formSocial-li a {
    display: block;
    width: 42px;
    height: 42px;
    background: no-repeat center center;
    text-decoration: none;
}

.formSocial-li a.facebook-button {
    background-image: url(images/facebook.png);
}

.formSocial-li a.twitter-button {
    background-image: url(images/twitter.png);
}

.formSocial-li a.vkontakte-button {
    background-image: url(images/vkontakte.png);
}

