/* bar module */

.bar {
    box-sizing: border-box;
    width: 305px;
    margin-bottom: 10px;
    padding: 25px 0;
    background: #fff;
    float: left;
}

.bar > h1 {
    margin: 0 25px 20px 25px;
    font-size: 23px;
    font-weight: 400;
    color: #36393f;
    line-height: 27.5px;
}

.bar a:hover {
    color: #ed5c2f;
}

.bar-column {
    width: 305px;
    float: left;
    margin-right: 12px;
}

.bar-column:last-child {
    margin-right: 0;
}

.li-bar-parent {
    padding: 6px 25px;
}

.li-bar-parent.has-child.is-open {
    background: #f6f6f6;
}

.li-bar-parent.has-child.is-open > a {
    color: #000;
    font-weight: 500;
}

/*.li-bar-parent.has-child::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 4px;
    background: url('../img/catalog/list.png') 0 0 no-repeat;
}
.li-bar-parent.has-child.is-open::before {
    background-position: -25px 0;
}*/
.li-bar-parent.is-open > .ul-bar-child {
    display: block;
}

.has-child {
}

.li-bar-parent a {
    font-size: 15px;
    color: #36393f;
}

.ul-bar-child {
    display: none;
}

.li-bar-child {
    margin-bottom: 10px;
}

.bar a > em {
    font-weight: 300;
    color: #9ba0ab;
}

.block-bar-promo {
    box-sizing: border-box;
    width: 305px;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    left: -25px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: #fff;
    color: #36393f;
}

.block-bar-promo::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    position: absolute;
    top: -8px;
    left: 30px;
    background: url('../img/catalog/pimp.png') 0 0 no-repeat;
}

.block-bar-promo > a,
.block-bar-promo .caption {
    float: left;
}

.block-bar-promo > a {
    margin-top: 8px;
}

.block-bar-promo .caption {
    width: 150px;
    margin-left: 20px;
}

.block-bar-promo .caption span,
.block-bar-promo .caption a {
    display: block;
}

.block-bar-promo li {
    display: inline-block;
    width: 58px;
    height: 58px;
    cursor: pointer;
}

.block-bar-promo ul {
    display: inline-block;
    border: 1px solid #efefef;
}

a.block-bar-other {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    float: none !important;
    margin-left: 10px;
    position: relative;
    top: 10px;
    width: 58px;
}

.block-bar-promo li > img {
    width: 100%;
    height: auto;
    border-right: 1px solid #efefef;
}

a.name-bar {
    font-size: 13px;
}

.sku-bar {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.block-bar-promo .sku-bar{font-weight:normal;}
.block-bar-promo a.name-bar{color:#ed5c2f;}

.price-bar {
    font-size: 14px;
}

.block-bar-promo .price-bar {
    margin-top: 5px;
}

.block_raiting_small {
    display: inline-block;
    vertical-align: top;
    height: 11px;
    width: 81px;
    overflow: hidden;
}

.block_raiting_small .item {
    float: left;
    background: url('../img/sprite/small_star_sprite.png') no-repeat left bottom;
    width: 10px;
    height: 11px;
    margin-right: 4px;
}

.block_raiting_small .item.active {
    background-position: left top;
}


.block_raiting_big {
    display: inline-block;
    vertical-align: top;
    height: 18px;
    width: 131px;
    overflow: hidden;
}

.block_raiting_big .item {
    float: left;
    background: url('../img/sprite/big_star_sprite.png') no-repeat left bottom;
    width: 19px;
    height: 18px;
    margin-right: 7px;
}

.block_raiting_big .item.active {
    background-position: left top;
}

.btn_like {
    width: 26px;
    height: 28px;
    background: url('../img/sprite/like_sprite.png') no-repeat left top;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 9px;
}

.btn_like:hover {
    background-position: left bottom;
}

.btn_like.active {
    background-position: left bottom;
}

.pReviewSingle {
    position: relative;
    padding-right: 36px;
}











