* {
  margin: 0;
  padding: 0;
}

*,
*:hover,
*:focus {
  outline: none !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: #36393f;
    /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
    font-family: 'OpenSansRegular', Arial, sans-serif;
    /*font-family: 'KelsonSansRegular', Arial, sans-serif;*/
    line-height: 1.4;
    background-color: #fff;
    position: relative;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    color: #727478;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

b {
    font-weight: 500;
}

.article_visual{
    font-size: 15px;
    margin: 25px auto 0;
    width: 630px;
	color: #36393f;
    font-family: "Helvetica Neue",Arial,sans-serif;
    line-height: 1.4;
}

.article_visual h1{
	font-size: 2em;
    margin: 0.67em 0;
}

.article_visual h2{
	font-size: 1.5em;
    margin: 0.83em 0;
}

.article_visual h3{
	font-size: 1.17em;
    margin: 1em 0;
}

.article_visual h4{
	font-size: 1em;
    margin: 1.33em 0;
}

.article_visual p, .article_visual pre {
    margin: 1em 0;
}

.article_visual ul {
    list-style: square outside none;
}

.article_visual ol, .article_visual ul {
    padding: 0 0 0 40px;
}

.article_visual table {
    border-collapse: collapse;
    border-spacing: 0;
}