
.cartItem {
    border-bottom: 1px solid #ebebeb;
    position: relative;
    background-color: #fff;
}

.cartItem table {
    width: 100%;
}

.cartItem table td {
    text-align: left;
    vertical-align: middle;
}

.b-cartImage {
    width: 130px;
    height: 130px;
    position: relative;
    padding: 20px 10px 19px 25px;
}

.b-cartImage .picture {
    display: block;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center center;
}

.b-cartName {
    width: 355px;
    color: #6f6f6f;
    font-size: 1.3rem;
    padding: 20px 25px 19px 10px;
}

.cartName:hover {
    text-decoration: underline;
}

.cartSerial {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    color: #3d3d3d;
}

.catDiscount-cart {
    top: 0;
    right: 15px;
    margin-top: -5px;
}

.cartQnt {
    float: left;
}

.cartQnt {
    height: 32px;
    margin-top: 56px;
}

.cartSubtotal {
    width: 120px;
    text-align: right;
}

.cartSubtotal-payment {
    margin-top: 0;
    margin-right: 0;
}

.cartSum {
    display: block;
    font-size: 1.7rem;
    font-weight: 500;
    color: #ed5c2f;
}

.b-emptyCart {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
}

.rounded-click {
    width: 145px !important;
}

.rounded-order {
    width: 160px !important;
    padding-right: 0 !important;
}

.cartName {
    display: block;
    color: #6F6F6F;
    font-size: 1.3rem;
}